video {
    width: 50%
}
.banner{
    width: 50%;
    display: none;
}
#calc-contain{
  background: lightGray;
  position: relative;
  width: 300px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0px auto;
  padding: 20px 20px 20px 20px;
}
#agh{
  position: relative;
  float: right;
  margin-top: 15px;
}
#agh p{
  font-size: 20px;
  font-weight: 900;
}
input[type=button] {
  background: white;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-color: black;
}
input[type=button]:active {
  background-color: whitesmoke;
  box-shadow: 0 2px;
  transform: translateY(4px);
}
input[type=button]:hover {
  background-color: whitesmoke;
  color: white;
}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  box-shadow: 4px 0px 12px #dccfcf inset;
}